{% extends "base.html" %}

{% block title %}Login - GEMS{% endblock %}

{% block extra_css %}
<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 56px); /* Subtract navbar height */
    }
    .login-form {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
    <form method="post" class="login-form">
        {% csrf_token %}
        <h2 class="mb-3 text-center">Login</h2>
        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" required autofocus>
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        {% if form.errors %}
            <p class="text-danger mt-3">Your username and password didn't match. Please try again.</p>
        {% endif %}
    </form>
</div>
{% endblock %}